.someClass {

}

.wrapp {
    display: grid;
    max-width: 300px;
    grid-template-columns: repeat(3, 1fr);
    padding: 2px 0;
}

.name {

}

.priority {

}

.btnX {
    background-color: #002B00;
    color: #A8E700;
}