
.navLink {
    background-color: #009688;
    padding: 10px 20px;
    margin: 0 4px;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

.burgerWrap_open {
    position: absolute;
    display: flex;
    align-items: center;
    left: -370px;
    top:0;
    transition: 0.2s linear;
}
.burgerWrap_close {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    top:0;
    transition: 0.2s linear;
}
.burgerIcon img{
    width: 50px;
    height: 50px;
    margin-left: 50px;
    animation: wiggle 3s infinite ;

}
@keyframes wiggle {
    0% { transform: translate(4px,0px); }
    20% { transform: translate(-4px, 0px); }
    40% { transform: translate(4px,0px); }
    60% { transform: translate(-4px, 0px); }
    80% { transform: translate(4px,0px); }
    100% { transform: translate(-4px, 0px); }
}
